{% extends 'myApp/base.html' %}
{% load static %}
{% block title %}Add Job - EcoHire{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <h2>Add a Job Posting</h2>
        <p>Fill out the form below to add a new job posting.</p>
        <form method="post">
            {% csrf_token %}

            <!-- Title -->
            <div class="form-group">
                <label for="id_title" class="form-label-bold">Title:</label>
                {{ form.title }}
            </div>

            <!-- Company -->
            <div class="form-group">
                <label for="id_company" class="form-label-bold">Company:</label>
                {{ form.company }}
            </div>

            <!-- Job Type -->
            <div class="form-group">
                <label for="id_job_type" class="form-label-bold">Job Type:</label>
                {{ form.job_type }}
            </div>

            <!-- Location -->
            <div class="form-group">
                <label for="id_location" class="form-label-bold">Location:</label>
                {{ form.location }}
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="id_description" class="form-label-bold">Description:</label>
                {{ form.description }}
            </div>

            <!-- Requirements -->
            <div class="form-group">
                <label for="id_requirements" class="form-label-bold">Requirements:</label>
                {{ form.requirements }}
            </div>

            <!-- Salary -->
            <div class="form-group">
                <label for="id_salary" class="form-label-bold">Salary:</label>
                {{ form.salary }}
            </div>

            <!-- Currency -->
            <div class="form-group">
                <label for="id_currency" class="form-label-bold">Currency:</label>
                {{ form.currency }}
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>
</section>
{% endblock %}
