{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="signup-dialog">
        <h2>Login</h2>
        <form method="post" action="{% url 'myApp:login' %}">
            {% csrf_token %}
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </p>
            <button type="submit" class="btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
