
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
<div class="profile-page-container">
    <h2>User Profile</h2>
<div>
    {% if  profile_form.instance.profile_pic %}
        <img src="{{  profile_form.instance.profile_pic.url }}" alt="Profile Picture" class="profile-pic">
    {% else %}
        <p>No profile picture found.</p>
    {% endif %}
</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            {% for field in profile_form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
{% endblock %}
